<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>profil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">profil</ion-title>
      </ion-toolbar>
    </ion-header>
    <div id="container">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="../../assets/img/dela.jpeg" />
    </ion-avatar>
    <p>DELA NOOR APRILIYA</p>
    <p>Mahasiswa</p>
    <br>
    <a class="social-link" href="https://www.instagram.com/dnaprlyy_"> @dnaprlyy_</a>
    <a class="social-link" href="https://www.tiktok.com/@dnaprlyy2_"> @dnaprlyy2_</a>
  </div>
  </ion-content>